# Build
build/
cmake-build-*/
out/
*.obj
*.o
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.exp

# IDE
.vs/
.vscode/
*.suo
*.user
*.sln.docstates
CMakeSettings.json
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Compiled
*.gch
*.pch
